//
// Cards
//

.card {
  .card-inner {
    border: none;
  }

  .card-body {
    .card-title {
      font-size: 1.5rem;
      line-height: 1.3;
      min-height: 62px;

      @include media-breakpoint-down(md) {
        min-height: auto;
      }
    }

    .card-text {
      min-height: 71px;

      @include media-breakpoint-down(md) {
        min-height: auto;
      }
    }
  }
}