//
// Cards
//

.card {
  .card-inner {
    border: none;
  }

  .card-body {
    .card-title {
      min-height: 52px;

      @include media-breakpoint-down(md) {
        min-height: auto;
      }
    }

    .card-text {
      min-height: 64px;

      @include media-breakpoint-down(md) {
        min-height: auto;
      }
    }
  }

  .card-footer {
    font-family: $font-family-monospace;
  }
}