//
// Colors
//

$gray-400: #CED4DA;
$gray-700: #495057;
$secondary: $gray-400;
$red: #CC4754;
$blue: #01579B;

//
// Typography
//

$font-size-base: 1rem !default;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Raleway', sans-serif;
$headings-color: $gray-700;
$headings-font-family: $font-family-monospace;
$headings-font-weight: 900;
$h2-font-size: $font-size-base * 1.5 !default;

//
// Inputs
//

$input-focus-border-color: rgba($blue, .65);
$input-focus-box-shadow: none;