//
// Colors
//

$primary: #1e9f63;

//
// Typography
//

$font-size-base: 1rem !default;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Lato', sans-serif;
$headings-font-family: $font-family-monospace;
$headings-font-weight: 900;

//
// Inputs
//

$input-focus-border-color: rgba($primary, .65);
$input-focus-box-shadow: none;