//
// Body
//

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding-bottom: 183px;
}

//
// Header
//

nav {
  .navbar-brand img {
    height: 32px;
  }
}

//
// Content
//

// Blog Index
.blog-post-index {
  .card-body {
    .card-title {
      min-height: 58px;

      @include media-breakpoint-down(md) {
        min-height: auto;
      }
    }

    .card-text {
      min-height: 78px;

      @include media-breakpoint-down(md) {
        min-height: auto;
      }
    }
  }
}

// Blog view
.blog-post-view {
  .post-body {
    img {
      margin: $paragraph-margin-bottom 0;
      max-width: 100%;
    }

    table {
      margin-bottom: $paragraph-margin-bottom;
    }
  }

  .featured-posts .card-body {
    @include media-breakpoint-between(sm, md) {
      height: 119px;
    }

    .card-title {
      @include media-breakpoint-between(sm, md) {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
}

//
// Footer
//

footer {
  height: 183px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    height: 100px;
  }
}
