@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
$font-family-code: 'Ubuntu Mono', monospace;

code[class*=language-],
pre[class*=language-] {
  background-color: $gray-100;
  color: $body-color;
  font-family: $font-family-code;
  font-size: $font-size-base * .9;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: $line-height-base * 0.9;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base * 0.9;
    line-height: $line-height-base;
  }
}

code:not([class]) {
  @include border-radius();
  font-family: $font-family-code;
  font-size: $font-size-base * .9;
  color: invert($primary);
  background-color: $gray-100;
  padding: 3px 6px;
}

.code-header,
.code-footer {
  color: $gray-600;
  text-align: center;
  font-size: $font-size-base * .75;
  font-family: $font-family-monospace;
  padding: $alert-padding-y 2 *  $alert-padding-x;
  background-color: $gray-300;
}

.code-footer {
  text-align: left;
  margin-top: -$paragraph-margin-bottom;
  background-color: $gray-200;
  margin-bottom: $paragraph-margin-bottom;
}

pre[class*=language-] {
  padding: 2 * $alert-padding-y 2 *  $alert-padding-x;
  margin-bottom: $paragraph-margin-bottom;
  overflow: auto;
}

:not(pre) > code[class*=language-] {
  padding: .1em;
  white-space: normal;
}

.token.function {
  color: invert($primary);
}

.token.boolean,
.token.keyword {
  color: $primary;
}

.token.attr-name,
.token.scope,
.token.class-name,
.token.package,
.token.operator,
.token.punctuation,
.token.tag,
.token.property,
.token.this,
.token.variable,
.token.number,
.token.attr-value,
.token.char,
.token.string {
  color: $body-color;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: $gray-500;
}